// @import "~bootstrap/dist/css/bootstrap.css";
#myWrapper {
  box-sizing: border-box;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 40px;
  nav {
    font-size: 20px;
    background-color: coral;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      padding: 5px;
      margin: 0px;
      li {
        list-style: none;
        a {
          text-decoration: none;
        }
        .active {
          background-color: chocolate;
          color: white;
          padding: 5px;
          border-radius: 10px;
        }
      }
    }
  }
}
