<div
  id="myWrapper"
  class="text-primary"
>

  <nav>
    <ul>
      <li>
        <!-- DATA PASS TO ROUTED COMPONENT */ -->
        <a
          routerLink='/home'
          [state]="{data:{welcomeMessage}}"
          routerLinkActive="active"
        >Home</a>
      </li>
      <li>
        <a
          class="text-black"
          routerLink='/link1'
          routerLinkActive="active"
        >Link 1</a>
      </li>
      <li>
        <a
          class="text-black"
          routerLink='/link2'
          routerLinkActive="active"
        >Link 2</a>
      </li>
    </ul>
  </nav>
  {{welcomeMessage}}
  <router-outlet></router-outlet>
</div>