<div class="d-flex justify-content-center flex-column vw-100">
    <!-- FILTERS -->
    <div class="d-flex">
        <!-- PERIOD FLTER -->
        <form
            class="fs-5 d-flex"
            [formGroup]="periodFilter"
            (ngSubmit)="submitPeriod()"
        >
            <select
                formControlName="period"
                class="form-select w-auto"
            >
                <option
                    [ngValue]="null"
                    disabled
                >Select Period</option>
                <option
                    *ngFor="let period of periods"
                    [ngValue]="period.name"
                >
                    {{ period.name }}
                </option>
            </select>

            <button
                class="btn btn-primary"
                type="submit"
            >Select</button>
        </form>

        <!-- SALES FILTER -->
        <form
            class="fs-5 d-flex"
            [formGroup]="salesFilter"
            (ngSubmit)="submitSales()"
        >
            <select
                formControlName="sales"
                class="form-select w-auto"
            >
                <option
                    [ngValue]="null"
                    disabled
                >Select Sales</option>
                <option
                    *ngFor="let sales of saleses"
                    [ngValue]="sales.name"
                >
                    {{ sales.name }}
                </option>
            </select>

            <button
                class="btn btn-primary"
                type="submit"
            >Select</button>
        </form>
    </div>

    <table class="table w-75 fs-5">
        <thead>
            <tr class="table-primary">
                <th scope="col">#</th>
                <th scope="col">Period</th>
                <th scope="col">Sales</th>

                <th scope="col">Customer</th>
                <th scope="col">Description</th>
                <th scope="col">Value</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let project of selectedProjects; let i = index"
                [ngClass]="{ 'table-danger': i % 2 === 1 }"
                style="cursor: pointer; position: relative"
            >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ project.period }}</td>
                <td>
                    {{ project.sales }}
                </td>
                <td>{{ project.customer }}</td>
                <td>{{ project.description }}</td>
                <td class="text-end">{{ project.valueNet | currency: " " }} Ft</td>

                <!-- <app-projects
                    style="position:absolute; left:0px;top:70px;z-index:10"
                    *ngIf="isDetails && team===selectedTeam"
                    [selectedTeam]="selectedTeam"
                    [filteredProjects]="filteredProjects"
                ></app-projects> -->
            </tr>

            <tr class="bg-warning text-white">
                <td>Total value</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-end">{{ totalProjects | currency: " " }} Ft</td>
            </tr>
        </tbody>
    </table>
</div>